<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Регистрация</title>

    <style>

        ul li {
          list-style: none;
        }
        li {
          text-align: right;
          margin: 10px 0;
        }
        input {
          width: 20%;
          margin: 0 660px 0 5px;
        }
        h2 {
          margin: 0 700px 0 100px;
        }
        form {
          display: inline-block;
          margin: -20px 0 0 -40px;
        }





    </style>
</head>
<body>
<form method="POST" action="/meeting">

    <ul>
        <li><h2>Добавление встречи</h2></li>
        <li>
            <label>Начало:
                <input type="datetime-local" name="startMeet" placeholder="Введите время начала..."
                       autofocus="true">
                <p class="" th:text="${startMeet}"></p>
            </label>
        </li>
        <li>
            <label>Окончание:
                <input type="datetime-local" name="endMeet" placeholder="Введите время окончания...">
                <p class="" th:text="${endMeet}"></p>
            </label>
        </li>
        <li>
            <label class="input-group-text">Пользователь</label>
            <div class="col-lg-3" th:object="${meeting}"></div>
            <select class="form-control" id="meetingOrder" name="meetingOrder">
                <option value="">Выбрать организатора</option>
                <p class="" th:text="${ownerId}"></p>
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.id}+' : '+${user.name}"></option>
            </select>
        </li>
        <li>
            <label>Номер комнаты:
                <input type="text" name="room" placeholder="Введите номер комнаты...">
                <p class="" th:text="${room}"></p>
            </label>
        </li>

        <li>
            <input type="submit" value="Создать">
        </li>
        <li>
            <input type="submit" value="Отменить">
        </li>

    </ul>

</form>

</body>
</html>
